.Back {
  background: transparent;
}

.banner_back {
  width: 100%;
  background: url("../Images/backgrnd.png");
  padding: 40px;
}

.Challenges-header {
  margin: 0px;
  margin-left: 14px;
  margin-top: 40px;
  text-align: "left";
}

.Contest-header {
  margin-left: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
}

* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
